<div class="door-container">
    <h1>Quarto dos gatos</h1>
    <div>
        <h2>Comendo</h2>
        <img src="assets/img/alimentado.jpg" alt="Vários gatos comendo ração em comedouros elevados." />
    </div>
    <div>
        <h2>Relaxando</h2>
        <img src="assets/img/paolaepudim.jpg" alt="Uma gata preta e um gato bege e marrom dormindo juntos." />
        <img src="assets/img/guiguitoebarto.jpg"
            alt="Um gato preto e branco e um gato bege,branco e marrom dormindo juntos." />
        <img src="assets/img/elvira.jpg" alt="Uma gata preta deitada" />
        <img src="assets/img/sylvester.jpg" alt="Um gato bege, branco e marrom dormindo." />
        <img src="assets/img/pepe.jpg" alt="Um gato rajado deitado." />
    </div>
    <button (click)="goBackHome()">Voltar para a primeira porta</button>
</div>