@use "@angular/material" as mat;

@include mat.core();

.door-container {
    text-align: center;
}

button {
    cursor: pointer;
    border: none;
    background: transparent;
}

.change-color {
    color: cadetblue;
}
